.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 100px;
		width: 99.2vw;
  }

  &__body {
    display: flex;
		width: 100vw;
    overflow: auto;
  }

  &__gmt {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 9px;
    text-transform: uppercase;
    opacity: 0.6;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 2px;
  }

  &__week-container {
    display: flex;
    width: 100%;
    height: fit-content;
  }

  &__time-scale {
    height: 100%;
    width: 48px;
  }

  &__week {
    display: flex;
    flex: 1;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
  }

  &__time-slot {
    height: 59px;
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  }

  &__day-label {
    flex: 1;
  }
}

.red-line {
  position: absolute;
  width: 100%;
  border-top: 2px solid red;
  z-index: 5;
}
